@model Proyecto_Tesis.Models.TBL_EMPLEADO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TBL_EMPLEADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TBL_AREA_PUESTO.IN_CODIGO_PUESTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_AREA_PUESTO.IN_CODIGO_PUESTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VC_APELLIDO_PATERNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VC_APELLIDO_PATERNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VC_APELLIDO_MATERNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VC_APELLIDO_MATERNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VC_NOMBRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VC_NOMBRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CH_SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CH_SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_FECHA_NACIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_FECHA_NACIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VC_NACIONALIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VC_NACIONALIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CH_TIPO_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CH_TIPO_DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VC_NUMERO_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VC_NUMERO_DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VC_CORREO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VC_CORREO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VC_NUMERO_CELULAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VC_NUMERO_CELULAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CH_SITUACION_REGISTRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CH_SITUACION_REGISTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VC_FOTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VC_FOTO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
