@model IEnumerable<Proyecto_Tesis.Models.TBL_EMPLEADO>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.IN_CODIGO_AREA)*@
            CODIGO EMPLEADO
        </th>
        <th>
            Ap. Paterno
        </th>
        <th>
            Ap. Materno
        </th>
        <th>
            Area
        </th>
        
        <th>Acción</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IN_CODIGO_EMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VC_APELLIDO_PATERNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VC_APELLIDO_MATERNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IN_CODIGO_AREA)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IN_CODIGO_EMPLEADO }) |
            @Html.ActionLink("Details", "Details", new { id=item.IN_CODIGO_EMPLEADO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IN_CODIGO_EMPLEADO })
        </td>
    </tr>
}

</table>
