@*@model IEnumerable<Proyecto_Tesis.Models.TBL_EMPLEADO>*@
@model Proyecto_Tesis.ViewModel.EmpleadoViewModel


@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

@*@*<p>
    @Html.ActionLink("Create New", "Create")
@*</p>*@

<table class="table table-bordered table-striped">
    <tr>
        <th>
            CODIGO EMPLEADO
        </th>
        <th>
            AP. PATERNO
        </th>
        <th>
            AP. MATERNO
        </th>
        <th>
            NOMBRES
        </th>
        <th>           
            CODIGO AREA
        </th>  
        <th>     
            NOMBRE AREA
        </th>     
        <th>
            CODIGO PUESTO
        </th> 
        <th>
            NOMBRE PUESTO
        </th> 
        <th>Acción</th>
    </tr>
   
  

@foreach (var item in Model.Empleado) {
    <tr>
        <td>
            @item.IN_CODIGO_EMPLEADO
        </td>
        <td>
            @item.VC_APELLIDO_PATERNO
        </td>
        <td>
            @item.VC_APELLIDO_MATERNO
        </td>
        <td>
            @item.VC_NOMBRES
        </td>
        <td>
            @item.IN_CODIGO_AREA
        </td>
        <td>
            @item.TBL_AREA_PUESTO.TBL_AREA.VC_NOMBRE_AREA
        </td>
        <td>
            @item.TBL_AREA_PUESTO.IN_CODIGO_PUESTO
        </td>
        <td>
            @item.TBL_AREA_PUESTO.TBL_PUESTO.VC_NOMBRE_PUESTO
        </td>
      
      
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IN_CODIGO_EMPLEADO }) |
            @Html.ActionLink("Details", "Details", new { id=item.IN_CODIGO_EMPLEADO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IN_CODIGO_EMPLEADO })
        </td>
    </tr>
}

</table>


