@*@model IEnumerable<Proyecto_Tesis.Models.TBL_EMPLEADO>*@
@model Proyecto_Tesis.ViewModel.EmpleadoViewModel


@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@


<div class="card-header">
    <h3>Relación de Empleados</h3>
    <div class="card-tools">
        <div class="input-group input-group-sm" style="width: 200px;" >
            <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar"/>
            <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                    <i class="fas fa-search">

                    </i>
                </button>
            </div>
        </div>
        <br>
    </div>

</div>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            
        </th>
        <th>
            APELLIDO PATERNO
        </th>
        <th>
            APELLIDO MATERNO
        </th>
        <th>
            NOMBRES
        </th>   
        
        <th>Acción</th>
    </tr>
   
  
   
@foreach (var item in Model.Empleado) {
    <tr>
        <td>
           1
        </td>
        
        <td>
            @item.VC_APELLIDO_PATERNO
        </td>
        <td>
            @item.VC_APELLIDO_MATERNO
        </td>
        <td>
            @item.VC_NOMBRES
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IN_CODIGO_EMPLEADO }) |
            @Html.ActionLink("Details", "Details", new { id=item.IN_CODIGO_EMPLEADO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IN_CODIGO_EMPLEADO })
        </td>
    </tr>
}

</table>


